# Dependencies
node_modules/
**/node_modules/

# Environment
.env
**/.env

# Build output
dist/
**/dist/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
